<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Display</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color:LightSteelBlue;margin-left: 20px;padding:10px">
<h3><a href="/">Back</a></h3><br>
<h1>Display Ecosmart transactions</h1><br>

<table style="text-align:left">
    <tr>
        <th style="width: 225px;">Category</th>
        <th>Sum</th>
    </tr>
    <tr>
        <td>RESIDENCE: </td>
        <td th:text="${RESIDENCE}"></td>
    </tr>
    <tr>
        <td>PLEASURE: </td>
        <td th:text="${PLEASURE}"></td>
    </tr>
    <tr>
        <td>TRANSPORTATION: </td>
        <td th:text="${TRANSPORTATION}"></td>
    </tr>
</table>

</body>
</html>